<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7fac8ca3-f208-44e4-b9c7-a285fb960251" name="testfragments_repo" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7fac8ca3-f208-44e4-b9c7-a285fb960251fileName">testfragments_repo</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
