<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="67bff817-cba2-4fae-8fa3-ecbd24aa994d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="67bff817-cba2-4fae-8fa3-ecbd24aa994dfileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>
